<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
                   <button type="button" class="btn btn-default" ><i class="fa fa-search"></i> Pesquisar </button>
                   <button type="button" class="btn btn-danger" ><i class="fa fa-exchange"></i> Transferencia </button>
                   <button type="button" class="btn btn-info" ><i class="fa fa-arrow-up"></i> Saque </button>
            </div>
            <div class="card-body">
              <table class="table table-responsive table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th class="title text-center">Status</th>
                    <th class="title text-center">Codigo</th>
                    <th class="title text-center">Caixa</th>
                    <th class="title text-center">Saldo</th>
                    <th class="title text-center">Criado</th>
                    <th class="title text-center">Atualizado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="tamanho == 0">
                    <td colspan="10"> Sem dados</td>
                  </tr>
                  <tr *ngFor="let o of caixas.data" (dblclick)="edit(o.id)">
                    <td class="text-center" *ngIf="tamanho > 0">
                      <span class="badge badge-pill badge-success" *ngIf="o.ativo === 'S'" tooltip="Ativo"> Ativo</span>
                      <span class="badge badge-pill badge-danger" *ngIf="o.ativo === 'N'" tooltip="Desativado"> Desativado</span>
                    </td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.id }}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{o.name}}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.saldo | currency:'BRL':true }}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.created_at }}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.updated_at }}</td>
                  </tr>
                </tbody>
              </table>
              <!--nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav-->
            </div>
          </div>
        </div>
      </div>
 </div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header novo">
        <h6 class="modal-title">Pesquisar</h6>
      </div>
      <div class="modal-body">
        <label for="inicio">De</label>
        <input type="date" id="inicio" class="form-control" name="inicio" [(ngModel)]="pesquisa.inicio" required>

        <label for="fim">Até</label>
        <input type="date" id="fim" class="form-control" name="fim" [(ngModel)]="pesquisa.fim" required>
      </div>
      <div class="modal-footer novo">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="pesquisar()"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<router-outlet></router-outlet>

