// Here you can add other styles

.app-body{
  background-color: #e4e5e6;
}
body{
  background-color: #FFFFFF !important;
}
.modal{
  background-color: rgba(0,0,0,0.5);
}
.modal-button{
  margin-left: -50px !important;
  position: relative;
  display: inline;
}
.logo{
  width: 60%;
  height: 60%;
}
.fundo_clck{
  background: rgba(0,0,0,0.7);
}
.container-loading{
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  cursor: wait;
  display: none;
}
.img-loading {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

@media (min-width: 361px) {
  .login {
    width: 100%;
    height: 100%;
    margin-top: -90px;
    margin-left: -100px;
  }
}
@media (max-width: 451px) {
  .login {
    width: 100%;
    height: 100%;
    margin-top: -120px;
    margin-left: 0;
  }
}

.img-login{
  width: 150px;
  height: 150px;
  display: flex;
  margin-left: 40%;
}

.modal_novo{
  display: block;
  overflow-y: auto;
}

.cadastro{
  padding: 5px;
}

.novo{
  padding: 1px;
}

.title-table{
  border-radius: 5px;
}
.table th, .table td, .th-table{
  padding: 0.2rem !important;
}
.grid-table{
  max-width: 100%;
  overflow: scroll;
}


.qtd{
  font-size: 20px;
  font-weight: bold;
}

.mesao{
  background: url('../assets/img/mesar.png') no-repeat center;
  width: 72px;
  height: 72px;
}
.mesar{
  background: url('../assets/img/mesar.png') no-repeat center;
  width: 72px;
  height: 72px;
}
.mesal{
  background: url('../assets/img/mesar.png') no-repeat center;
  width: 72px;
  height: 72px;
}
.borderdiv{
  border-top: 1px solid #c2cfd6;
}
.padding{
  padding-top: 5px;
  padding-bottom: 0px;
}
.separate{
  padding: 14px;
}
.separate1{
  padding: 13px;
}

.fundo{
  background-color: #505ca7 !important;
  border-bottom: 1px solid #505ca7 !important;
}

.pagamento{
  padding: 0;
}

.troco{
  text-align: right;
}

.total-pagamento{
  color: #000;
  background-color: #9ff3bc;
  border-color: #3ba05e;
}

/*loading*/
#bifrostBarSpinner{
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: wait;
  display: none;
}
.bifrost-spinner-container{
  position:fixed;
  background:#fff;
  opacity:.7;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:999;
}
.bifrost-spinner-loader{
  margin:0 auto;
  width:60px;
  height:50px;
  text-align:center;
  font-size:10px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translateY(-50%) translateX(-50%);
  z-index:1000;
}
.bifrost-spinner-loader > div{
  height:100%;
  width:8px;
  display:inline-block;
  float:left;
  margin-left:2px;
  -webkit-animation:a .8s infinite ease-in-out;animation:a .8s infinite ease-in-out;
}
.bifrost-spinner-loader .bifrost-spinner-bar1{
  background-color:#bec923;
}
.bifrost-spinner-loader .bifrost-spinner-bar2{
  background-color:#ed3694;
  -webkit-animation-delay:-.7s;
  animation-delay:-.7s;
}
.bifrost-spinner-loader .bifrost-spinner-bar3{
  background-color:#416eb3;
  -webkit-animation-delay:-.6s;
  animation-delay:-.6s;
}
.bifrost-spinner-loader .bifrost-spinner-bar4{
  background-color:#00b286;
  -webkit-animation-delay:-.5s;
  animation-delay:-.5s;
}
.bifrost-spinner-loader .bifrost-spinner-bar5{
  background-color:#f4a82b;
  -webkit-animation-delay:-.4s;
  animation-delay:-.4s;
}
.bifrost-spinner-loader .bifrost-spinner-bar6{
  background-color:#702784;
  -webkit-animation-delay:-.3s;
  animation-delay:-.3s;
}
@-webkit-keyframes a{
  0%,40%,to{
    -webkit-transform:scaleY(.05)
  }
  20%{
    -webkit-transform:scaleY(1)
  }
}
@keyframes a{
  0%,40%,to{
    transform:scaleY(.05);
    -webkit-transform:scaleY(.05);
  }
  20%{
    transform:scaleY(1);
    -webkit-transform:scaleY(1)
  }
}

.truncate{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-validation{
  font-size: 10px;
}

.badge-new{
  background-color: #7a43b6;
}
.badge-parcial{
  background-color: #7ab800;
}

.btn-cancel{
  background-color: #d58512;
}
.btn-center{
  position: fixed;
  align-content: center;
  margin-left: 50px;
}
.length-icon{
  font-size: 1.5em;
}