<div tabindex="-1" class="modal fade modal_novo" id="successModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header novo">
                <h4 class="text-center">Editar Pedido: {{ order.id }} </h4>
                <h4 class="text-center"> {{ mesa }} </h4>
                <h4 class="text-center">Total: {{ order.total  | currency:'BRL':true}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form #myForm="ngForm" (keyup.enter)="buscar()" class="form-inline">
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Buscar: </label>
                            <input type="text" class="form-control col-md-3" name="pesquisa" [(ngModel)]="pesquisa.value" placeholder="Digite produto" required  autofocus="autofocus">
                            <label class="label qtd col-md-2"> Qtd.</label>
                            <input class="form-control col-md-1" type="number" name="qtd" [(ngModel)]="qtd" min="1"  />
                            <label for="tipo" class="label col-md-2">Tipo: </label>
                            <select id="tipo" name="tipo" class="form-control col-md-2" [(ngModel)]="order.type">
                                <option value="0"> Delivery</option>
                                <option value="1"> Salão</option>
                                <option value="2"> Retirada</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" style="padding-bottom: 5px;">
                    <form #myForm="ngForm" class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="mesa" class="label col-md-2" *ngIf="order.type == 1">Mesa: </label>
                            <select id="mesa" name="mesa_id" class="form-control col-md-4" [(ngModel)]="mesa_id" *ngIf="order.type == 1">
                                <option value="null">Selecione a mesa</option>
                                <option value="{{order.mesa.data.id}}">{{ order.mesa.data.name }}</option>
                                <option *ngFor="let g of mesas.data" value="{{ g.id }}"> {{ g.name }}</option>
                            </select>
                            <label for="status" class="label col-md-2">Status: </label>
                            <select id="status" name="staus" class="form-control col-md-3" [(ngModel)]="order.status">
                                <option value="null">Selecione um status</option>
                                <option value="0">Cozinha</option>
                                <option value="1">Preparado</option>
                                <option value="2">Em transito</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="row borderdiv" style="height: 370px; overflow: auto">
                    <div class="col-md-6 mb-4 padding" *ngIf="order.type != 1">
                        <!-- Nav tabs -->
                        <tabset>
                            <tab heading="Cliente">
                                <form name="form" class="form-inline">
                                    <input type="text" class="form-control col-md-12 name text-capitalize" name="name" [(ngModel)]="client.name" placeholder="Nome Cliente" disabled/>
                                    <br><br>
                                    <input ngxPhoneMask type="text" class="form-control col-md-12" name="phone" [(ngModel)]="client.phone" placeholder="Telefone" disabled />
                                    <br><br>
                                    <input type="text" class="form-control col-md-12" name="email" [(ngModel)]="client.email" placeholder="Email" disabled />
                                    <br><br>
                                    <input type="text" class="form-control col-md-12 text-capitalize" name="address.address" [(ngModel)]="client.address.address" placeholder="Rua" [disabled]="editar"/>
                                    <br><br>
                                    <input type="text" class="form-control col-md-3 text" name="address.numero" [(ngModel)]="client.address.numero" placeholder="Numero" [disabled]="editar">
                                    <div class="separate1"></div>
                                    <input type="text" class="form-control col-md-8 text-capitalize" name="address.bairro" [(ngModel)]="client.address.bairro" placeholder="Bairro" [disabled]="editar"/>
                                    <br><br>
                                    <select name="cidade" id="cidade" class="form-control col-md-12" [(ngModel)]="client.address.city_id" disabled>
                                        <option value="0">Selecione cidade</option>
                                        <option value="3128709">Guaxupé</option>
                                        <option value="3128303">Guaranésia</option>
                                        <option value="3136900">Juruaia</option>
                                        <option value="3144102">Muzambinho</option>
                                        <option value="3163904">São Pedro da União</option>
                                    </select>
                                    <br><br>
                                    <div class="padding" *ngIf="editar == false">
                                        <button type="button" class="btn btn-default btn-info" (click)="saveClient()">Atualizar endereço</button>
                                    </div>
                                </form>
                            </tab>
                            <tab heading="50 ultimos">
                                <p>Pedido:</p>
                                <p>Data:</p>
                                <p>Produtos:</p>
                            </tab>
                        </tabset>
                    </div><!--/.col-->
                    <div class="col-lg-6 padding" [ngClass]="{'col-md-12 col-lg-12': order.type != 0 && order.type != 2, 'col-md-6 col-lg-6': order.type != 1}">
                        <div class="table-responsive" style="height: 160px; overflow: auto">
                            <table class="table scrollbox table-striped">
                                <thead>
                                <tr class="th-table title-table">
                                    <th>#</th>
                                    <th>Produto</th>
                                    <th>Valor</th>
                                    <th class="text-center">Qtd.</th>
                                    <th>SubTotal</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of products.data">
                                        <td (click)="showInformacao(i.id)" *ngIf="i.ativo == 'S'">{{ i.product.data.id }}</td>
                                        <td (click)="showInformacao(i.id)" *ngIf="i.ativo == 'S'">
                                            {{ i.product.data.name }}
                                            <p *ngFor="let c of i.complement.data" style="font-size: 10px; margin-bottom: 0;"> {{ c.complement.data.name }}: {{ c.price | currency:'BRL':true }}</p>
                                            <p style="font-size: 10px; margin-bottom: 0;">{{ i.historico }}</p>
                                        </td>
                                        <td (click)="showInformacao(i.id)" *ngIf="i.ativo == 'S'">{{ i.product.data.price | currency:'BRL':true}}</td>
                                        <td class="text-center" (click)="showInformacao(i.id)" *ngIf="i.ativo == 'S'">{{ i.qtd }}</td>
                                        <td (click)="showInformacao(i.id)" *ngIf="i.ativo == 'S'">
                                            {{ i.subtotal | currency:'BRL':true }}
                                        </td>
                                        <td class="text-center" *ngIf="i.ativo == 'S'">
                                            <button class="btn btn-sm btn-link" *ngIf="i.product.data.id != 58" (click)="showExcluir(i.id)" tooltip="Remover do pedido"><i class="fa fa-remove text-danger"></i></button>
                                            <button class="btn btn-sm btn-link" *ngIf="i.product.data.id != 58" (click)="showComplement(i.id)" tooltip="Gerenciar complementos"><i class="fa fa-plus text-info"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="observacao">Observação</label>
                                <div class="col-md-9">
                                    <textarea id="observacao" name="observacao" rows="3" cols="9" [(ngModel)]="order.observacao" class="form-control" placeholder="Observação..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center alert alert-success total-pagamento"><p class="qtd">TOTAL: {{ order.total | currency:'BRL':true }}</p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer cadastro">
                <div class="modal-button">
                    <button class="btn btn-cancel text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Sair (ESC)</button>
                    <button class="btn btn-danger" (click)="showCancelamento()"><i class="fa fa-power-off"></i> Cancelar pedido</button>
                    <button *ngIf="order.type != 1" class="btn btn-default" (click)="habilitarEdicao()"><i class="fa fa-pencil"></i> Editar endereço</button>
                    <button class="btn btn-primary" (click)="save()"><i class="fa fa-print"></i> Imprimir (F7)</button>
                    <button class="btn btn-success" (click)="update()"><i class="fa fa-save"></i> Salvar(F9)</button>
                    <button class="btn btn-info text-left" type="button" (click)="pagar()" tooltip="Pagamento"><i class="fa fa-money"></i> Finalizar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="complement" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header novo">
                    <h5 class="modal-title">Complementos</h5>
                </div>
                <div class="modal-body">
                    <div class="col-md-6" style="height: 400px">
                        <h5>Lista de adicionais</h5>
                        <div class="checkbox" *ngFor="let p of complements.data">
                            <label>
                                <p class="text-left"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                            </label>
                            <button class="btn btn-default btn-sm" (click)="addComplement(p.id)"><i class="fa fa-plus text-success"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-left: 250px; margin-top: -400px; height: 400px">
                        <h5>Adcionados ao item</h5>
                        <div class="checkbox" *ngFor="let p of complement">
                            <label>
                                <p class="text-left"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                            </label>

                            <button class="btn btn-default btn-sm" (click)="addComplement(p.id)"><i class="fa fa-info text-success"></i></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-info" (click)="saveComplement()"><i class="fa fa-save"></i> Salvar</button>
                        <button class="btn btn-danger text-left" type="button" (click)="closeComplement()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="informacao" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header novo">
                    <h5 class="modal-title">Observações item</h5>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea id="textarea-input" name="observacao" [(ngModel)]="historico" rows="6" class="form-control" placeholder="Digite aqui..." ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-info" (click)="addHistorico()"><i class="fa fa-save"></i> Salvar</button>
                        <button class="btn btn-danger text-left" type="button" (click)="closeInformacao()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="cancelamento" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header novo text-center">
                    <h5 class="modal-title">Motivo Cancelamento</h5>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea id="cancel" name="motivo" [(ngModel)]="motivo" rows="6" class="form-control" placeholder="Digite aqui..." ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-info" (click)="cancelarPedido()"><i class="fa fa-save"></i> Cancelar Pedido</button>
                        <button class="btn btn-danger text-left" type="button" (click)="closeCancelar()"><i class="fa fa-arrow-circle-left"></i> Voltar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="excluir" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <h6 class="text-center">Deseja excluir esse produto? <br />Isso não poderá ser revertido</h6>
                                <div class="btn-center">
                                    <button class="btn btn-sm btn-success" (click)="removeItem()">Excluir</button>
                                    <button class="btn btn-sm btn-danger" (click)="closeExcluir()">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="pesquisa" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell">
        <div class="modal-dialog modal-sm modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header novo text-center">
                    <h5 class="modal-title">Resultado pesquisa</h5>
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="closeMd()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center" style="height: 250px; overflow: auto">
                    <div class="checkbox" *ngFor="let p of result.data">
                        <label>
                            <p class="text-left" (click)="saveItem(p)"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                        </label>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-danger btn-sm text-left" type="button" (click)="closeMd()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
