<div tabindex="-1" class="modal fade modal_novo" id="new_order" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header novo">
                <h5 class="modal-title">Novo Pedido</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="cancel()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body padding">
                <div class="col-md-12">
                    <form #myForm="ngForm" (keyup.enter)="buscar()" class="form-inline">
                        <div class="form-group col-md-12">
                            <div class="col-md-1"></div>
                            <label class="col-md-1">Buscar: </label>
                            <input type="text" class="form-control col-md-3" name="pesquisa" [(ngModel)]="pesquisa.value" placeholder="Digite produto" required minlength="2" autofocus="autofocus">
                            <label class="label qtd col-md-1"> Qtd.</label>
                            <input class="form-control col-md-1" type="number" min="1" max="10" name="qtd" [(ngModel)]="qtd" />
                            <label for="tipo" class="label col-md-1">Tipo: </label>
                            <select id="tipo" name="tipo" class="form-control col-md-3" [(ngModel)]="tipo">
                                <option value="0"> Delivery</option>
                            </select>
                            <!--label class="label col-md-2">Mais sabor?</label>
                            <label class="switch switch-text switch-success">
                                <input type="checkbox" class="switch-input" name="cartao" checked>
                                <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                <span class="switch-handle"></span>
                            </label-->
                        </div>
                    </form>
                </div>

                <div class="col-md-12" style="padding-bottom: 5px; padding-top: 5px;">
                    <form #myForm="ngForm" class="form-inline">
                        <div class="form-group col-md-12">
                            <div class="col-md-1"></div>
                            <label for="mesa" class="label col-md-1" *ngIf="tipo == 1">Mesa: </label>
                            <select id="mesa" name="category_id" class="form-control col-md-3" [(ngModel)]="mesa_id" *ngIf="tipo == 1">
                                <option value="null">Selecione a mesa</option>
                                <option *ngFor="let g of mesas" value="{{ g.id }}"> {{ g.name }}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="row borderdiv">
                    <div class="col-md-5 mb-4 padding" style="height: 380px; overflow: auto" *ngIf="tipo != 1">
                        <!-- Nav tabs -->
                        <tabset>
                            <tab heading="Cliente">
                                <form class="form-inline">
                                    <input type="text" class="form-control col-md-12" name="name" [(ngModel)]="client.name" placeholder="Nome Cliente" [required]="true" minlength="8"/>
                                    <br><br>
                                    <input ngxPhoneMask type="text" class="form-control col-md-12" id="fone" name="phone" [(ngModel)]="client.phone" placeholder="Telefone"/>
                                    <br><br>
                                    <input type="text" class="form-control col-md-12 " name="email" [(ngModel)]="client.email" placeholder="Email">
                                    <br><br>
                                    <input type="text" class="form-control col-md-12" name="address.address" [(ngModel)]="client.address.address" placeholder="Rua"/>
                                    <br><br>
                                    <input type="text" class="form-control col-md-3" name="address.numero" [(ngModel)]="client.address.numero" placeholder="Numero">
                                    <div class="separate1"></div>
                                    <input type="text" class="form-control col-md-7" name="address.bairro" [(ngModel)]="client.address.bairro" placeholder="Bairro"/>
                                    <br><br>
                                    <select name="cidade" id="cidade" class="form-control col-md-12" [(ngModel)]="client.address.city_id">
                                        <option value="0">Selecione cidade</option>
                                        <option value="3128709">Guaxupé</option>
                                        <option value="3128303">Guaranésia</option>
                                        <option value="3136900">Juruaia</option>
                                        <option value="3144102">Muzambinho</option>
                                        <option value="3163904">São Pedro da União</option>
                                    </select>
                                    <br><br>
                                    <div class="padding" *ngIf="novo == true">
                                        <button type="button" class="btn btn-default btn-info" (click)="saveClient()">Cadastrar</button>
                                    </div>
                                </form>
                            </tab>
                            <tab heading="50 ultimos" *ngIf="novo == false">
                                <p>Pedido:</p>
                                <p>Data:</p>
                                <p>Produtos:</p>
                            </tab>
                        </tabset>
                    </div><!--/.col-->
                    <div class="col-lg-7 padding" [ngClass]="{'col-md-12 col-lg-12': tipo != 0 && tipo != 2, 'col-md-7 col-lg-7': tipo  != 1}">
                        <div class="table-responsive" style="height: 190px; overflow: auto">
                            <table class="table scrollbox table-striped">
                                <thead>
                                    <tr class="th-table title-table">
                                        <th class="text-center">#</th>
                                        <th>Produto</th>
                                        <th class="text-center">Valor</th>
                                        <th class="text-center">Qtd.</th>
                                        <th class="text-center">Subtotal</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="th-table" *ngFor="let p of items.items; let i = index">
                                        <td class="text-center" (click)="showObservacao(i)">{{ p.id }}</td>
                                        <td (click)="showObservacao(i)">{{ p.name }}
                                            <p *ngFor="let c of p.complements" style="font-size: 12px; margin-bottom: 0;">{{ c.qtd }} - {{ c.name }}: {{ c.price | currency:'BRL':true }}</p>
                                            <p style="font-size: 12px; margin-bottom: 0;">{{p.historico}}</p>
                                        </td>
                                        <td class="text-center" (click)="showObservacao(i)">{{ p.price | currency:'BRL':true }}</td>
                                        <td class="text-center" (click)="showObservacao(i)">{{ p.qtd }}</td>
                                        <td class="text-center" (click)="showObservacao(i)">{{ p.subtotal | currency:'BRL':true }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-link" (click)="removeItem(i)" tooltip="Remover do pedido"><i class="fa fa-remove text-danger"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="observacao">Observação</label>
                                <div class="col-md-9">
                                    <textarea id="observacao" name="observacao" rows="3" cols="9" [(ngModel)]="observacao" class="form-control" placeholder="Observação..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center alert alert-success total-pagamento"><p class="qtd">TOTAL: {{ total | currency:'BRL':true }}</p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer cadastro">
                 <div class="modal-button">
                    <button class="btn btn-info" (click)="save()"><i class="fa fa-save"></i> Salvar pedido (F9)</button>
                    <button class="btn btn-danger text-left" type="button" (click)="cancel()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <div class="modal fade modal_novo" id="complement" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-info" role="document">
            <div class="modal-content" style="width: 525px">
                <div class="modal-header novo">
                    <h5 class="modal-title">Complementos</h5>
                </div>
                <div class="modal-body" style="height: 400px;overflow: auto;">
                    <div class="col-md-6" style="height: 400px;">
                            <h5>Lista de adicionais</h5>
                            <div class="checkbox" *ngFor="let p of complements.data">
                                <label>
                                    <p class="text-left"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                                </label>
                                <button class="btn btn-default btn-sm" (click)="addComplement(p.id)"><i class="fa fa-plus text-success"></i></button>
                            </div>
                    </div>
                    <div class="col-md-6" style="margin-left: 250px; margin-top: -400px; height: 400px">
                        <h5>Adcionados ao item</h5>
                        <label *ngIf="complement.length == 0"><p class="text-left">Sem complementos</p></label>
                        <div class="checkbox" *ngFor="let p of complement">
                            <label>
                                <p class="text-left"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                            </label>
                            <button class="btn btn-danger btn-sm" (click)="removeComplement(p.id)"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-info" (click)="saveComplement()"><i class="fa fa-save"></i> Salvar</button>
                        <button class="btn btn-danger text-left" type="button" (click)="closeComplement()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="informacao" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell" style="">
        <div class="modal-dialog modal-sm modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header novo">
                    <h5 class="modal-title">Observações item</h5>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                          <div class="form-group row">
                                 <div class="col-md-12">
                                     <textarea id="textarea-input" name="observacao" [(ngModel)]="historico" rows="6" class="form-control" placeholder="Digite aqui..." ></textarea>
                                 </div>
                          </div>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-info" (click)="saveObserve(historico)"><i class="fa fa-save"></i> Salvar</button>
                        <button class="btn btn-danger text-left" type="button" (click)="closeInformacao()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    <div class="modal fade modal_novo" id="pesquisa" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell">
        <div class="modal-dialog modal-sm modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header novo text-center">
                    <h5 class="modal-title">Resultado pesquisa</h5>
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="closeMd()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center" style="height: 250px; overflow: auto">
                        <div class="checkbox" *ngFor="let p of result.data">
                            <label>
                                <p class="text-left" (click)="addItem(p)"> {{ p.name }} - {{ p.price | currency:'BRL':true}}</p>
                            </label>
                        </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-danger btn-sm text-left" type="button" (click)="closeMd()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <div class="modal fade modal_novo" id="cliente" role="dialog" aria-hidden="true" aria-labelledby="myModalLabell">
        <div class="modal-dialog modal-sm modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header novo text-center">
                    <h5 class="modal-title">Resultado pesquisa</h5>
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="closeC()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center" style="height: 250px; overflow: auto">
                    <div class="checkbox" *ngFor="let p of result.data">
                        <label>
                            <p class="text-left" (click)="addClient(p)"> {{ p.name }} - {{ p.phone }}</p>
                        </label>
                    </div>
                </div>
                <div class="modal-footer cadastro">
                    <div class="modal-button">
                        <button class="btn btn-danger btn-sm text-left" type="button" (click)="closeC()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>


