<div tabindex="-1" class="modal fade" id="payment" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: block; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header cadastro">
                <h3 class="text-center">Pedido: {{ order.id }} </h3>
                <h3 class="text-center"> {{ mesa }} </h3>
                <h3 class="text-center"> Pagamento</h3>
            </div>
            <div class="modal-body" style="height: 460px; overflow: auto">
                <div class="col-md-12">
                    <form class="form-inline" #myForm="ngForm">
                        <div class="col-md-12">
                            <div class="form-row">
                                <label class="col-md-2" for="valor_pag">Valor: </label>
                                <input type="text" class="form-control-lg col-md-4" id="valor_pag" name="valor_pag"
                                       currencyMask [(ngModel)]="valor_pag" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                       placeholder="Digite o valor" required minlength="2" autofocus="autofocus">
                                <div class="invalid-feedback" *ngIf="!valor_pag.valid">
                                    Prencha o valor do pagamento
                                </div>
                                <label for="desconto" class="col-md-2">Desconto:</label>
                                <input class="form-control-lg col-md-4" id="desconto" name="desconto" currencyMask [(ngModel)]="payment.desconto"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Desconto" type="text">
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="desconto" class="col-md-2">Acrescimo:</label>
                                <input class="form-control-lg col-md-4" id="acrescimo" name="acrescimo" currencyMask [(ngModel)]="payment.acrescimo"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Acrescimos" type="text">
                                <label for="troco" class="col-md-2">Troco:</label>
                                <input class="form-control-lg col-md-4 troco" id="troco" name="troco" [(ngModel)]="troco"  value="{{ valor_pag - ((order.total + payment.acrescimo) - payment.desconto) | currency:'BRL':true }}" placeholder="Troco" type="text" disabled="true">
                            </div>
                            <br>
                            <div class="form-row">
                                    <label for="select" class="label col-md-2">Tipo pagamento</label>
                                    <select id="select" name="type_id" [(ngModel)]="type_id" class="form-control-lg col-md-4" style="height: 50px ;font-size: 16px;">
                                        <option value="null">Selecione tipo pagamento</option>
                                        <option *ngFor="let g of tipo.data" value="{{ g.id }}"> {{ g.name }}</option>
                                    </select>
                                    <label for="troco" class="col-md-1">Divisão:</label>
                                    <input class="form-control-lg col-md-1 troco" id="divisao" name="divisao" [(ngModel)]="divisao"  placeholder="Dividir" type="number">
                                    <label for="troco" class="col-md-2">Resultado:</label>
                                    <input class="form-control-lg col-md-2 troco" id="result_div" name="result_div" [(ngModel)]="result_div"  value="{{ ((order.total + payment.acrescimo) - payment.desconto) / divisao | currency:'BRL':true }}" placeholder="resulado" type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="col-md-12 text-center alert alert-success total-pagamento"><h4 class="qtd">TOTAL À PAGAR: {{ (order.total + payment.acrescimo) - payment.desconto | currency:'BRL':true }}</h4></div>
                <div class="col-md-12">
                    <div class="table-responsive" style="height: 120px; overflow: auto">
                        <table class="table scrollbox table-striped">
                            <thead>
                            <tr class="th-table title-table">
                                <th class="text-center">#</th>
                                <th>Produto</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Qtd.</th>
                                <th class="text-center">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="th-table" *ngFor="let p of products.data; let i = index">
                                <td class="text-center">{{ p.product.data.id }}</td>
                                <td>{{ p.product.data.name }}</td>
                                <td class="text-center">{{ p.price | currency:'BRL':true }}</td>
                                <td class="text-center">{{ p.qtd }}</td>
                                <td class="text-center">{{ p.subtotal | currency:'BRL':true }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-button">
                    <button class="btn btn-danger text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    <button class="btn btn-primary text-left" type="button" (click)="edit()"><i class="fa fa-pencil"></i> Editar</button>
                    <button class="btn btn-success" (click)="save()"><i class="fa fa-save"></i> Salvar (F9)</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
