<div tabindex="-1" class="modal fade" id="infoModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header cadastro">
                <h6 class="modal-title">Editar mesa: {{ mesa.name }}</h6>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="close()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="name">Mesa: <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            <input type="text" id="name" name="name" [(ngModel)]="mesa.name" class="form-control" placeholder="Mesa">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="description">Descrição:</label>
                        <div class="col-md-10">
                            <input type="email" id="description" name="description" [(ngModel)]="mesa.description" class="form-control" placeholder="Descrição da mesa">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer cadastro">
                <div class="modal-button">
                    <button class="btn btn-danger" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    <button class="btn btn-success" type="button" (click)="save(mesa)"><i class="fa fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>