<div tabindex="-1" class="modal fade" id="payment" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: block; overflow-y: auto;">
  <div class="modal-dialog modal-lg modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header cadastro">
        <h3 class="text-center">Pedido: {{ order.id }} </h3>
        <h3 class="text-center"> Pagamento</h3>
      </div>
      <div class="modal-body" style="height: 480px; overflow: auto">
        <div class="col-md-12">
          <form>
            <div class="col-md-12">
              <div class="form-row">
                <label class="col-md-2" for="valor">Valor: </label>
                <input type="text" class="form-control-lg col-md-4" id="valor" name="valor" currencyMask [(ngModel)]="payment.total_pago" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  placeholder="Digite o valor" required minlength="2" autofocus="autofocus">
                <label for="desconto" class="col-md-2">Desconto:</label>
                <input class="form-control-lg col-md-4" id="desconto" name="desconto" currencyMask [(ngModel)]="payment.desconto"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Desconto" type="text">

              </div>
              <br>
              <div class="form-row">
                <label for="desconto" class="col-md-2">Acrescimo:</label>
                <input class="form-control-lg col-md-4" id="acrescimo" name="acrescimo" currencyMask [(ngModel)]="payment.acrescimo"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Acrescimos" type="text">
                <label for="troco" class="col-md-2">Troco:</label>
                <input class="form-control-lg col-md-4" id="troco" name="troco" currencyMask [(ngModel)]="troco"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" value="{{ payment.total_pago - ((order.total + payment.acrescimo) - payment.desconto) | currency:'BRL':true }}" placeholder="Troco" type="text" disabled="true">

              </div>
              <br>
              <div class="form-row">
                <label for="tipo" class="label col-md-2">Mesa: </label>
                <select id="tipo" name="type_id" [(ngModel)]="type_id" class="form-control col-md-9">
                  <option value="null">Selecione o grupo</option>
                  <option value="{{ g.id }}" *ngFor="let g of tipo.data" > {{ g.name }}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div class="col-md-12 text-center"><p class="qtd">TOTAL A PAGAR: {{ (order.total + payment.acrescimo) - payment.desconto | currency:'BRL':true }}</p></div>

        <div class="table-responsive" style="height: 240px; overflow: auto">
          <table class="table scrollbox table-striped">
            <thead>
            <tr class="th-table title-table">
              <th class="text-center">#</th>
              <th>Produto</th>
              <th class="text-center">Valor</th>
              <th class="text-center">Qtd.</th>
              <th class="text-center">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr class="th-table" *ngFor="let p of products; let i = index">
              <td class="text-center">{{ p.product.data.id }}</td>
              <td>{{ p.product.data.name }}</td>
              <td class="text-center">{{ p.price | currency:'BRL':true }}</td>
              <td class="text-center">{{ p.qtd }}</td>
              <td class="text-center">{{ p.subtotal | currency:'BRL':true }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-button">
          <button class="btn btn-info" (click)="save()"><i class="fa fa-save"></i> Salvar pedido (F9)</button>
          <button class="btn btn-danger text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>