<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
                   <button type="button" class="btn btn-default" (click)="showModal()"><i class="fa fa-search"></i> Pesquisar </button>
              <a class="btn btn-success" [routerLink]="['new']"><i class="fa fa-plus"></i> Novo</a>
            </div>
            <div class="card-body">
              <table class="table table-responsive table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th class="title text-center">Status</th>
                    <th class="title text-center">Tipo</th>
                    <th class="title text-center">Codigo</th>
                    <th class="title-table text-center"> Total</th>
                    <th class="title"> Cliente</th>
                    <th class="title text-center">Data</th>
                    <th class="title text-center">Hora</th>
                    <th class="title text-center">Previsão</th>
                    <th class="title text-center">Mesa</th>
                    <th class="title text-center">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="tamanho == 0">
                    <td colspan="10"> Sem dados</td>
                  </tr>
                  <tr *ngFor="let o of orders.data" (dblclick)="edit(o.id)">
                    <td class="text-center" *ngIf="tamanho > 0">
                      <span class="badge badge-success" *ngIf="o.status === 3" tooltip="Pagamento realizado"> Pago</span>
                      <span class="badge badge-info" *ngIf="o.status === 2" tooltip="Em transito">Em transito</span>
                      <span class="badge badge-primary" *ngIf="o.status === 1" tooltip="Preparado">Preparado</span>
                      <span class="badge badge-danger" *ngIf="o.status === 0" tooltip="Na cozinha">Cozinha</span>
                    </td>
                    <td class="text-center" *ngIf="tamanho > 0">
                      <i class="fa fa-motorcycle" *ngIf="o.type == 0" tooltip="Delivery"></i>
                      <i class="fa fa-upload" *ngIf="o.type == 2" tooltip="Retirada"></i>
                      <i class="fa fa fa-cutlery" *ngIf="o.type == 1" tooltip="Mesa"></i>
                    </td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.id }}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.total | currency:'BRL':true }}</td>
                    <td *ngIf="tamanho > 0">{{ o.client.data.name }}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.created_at | slice:0:10 }} </td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.created_at | slice:11:19}}</td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.previsao }} </td>
                    <td class="text-center" *ngIf="tamanho > 0">{{ o.mesa.data.name }} </td>
                    <td class="text-center">
                      <a class="btn btn-link text-alert pagamento" *ngIf="o.status == 3" [routerLink]="['payment/'+ o.id]" tooltip="Ver pagamentos"><i class="fa fa-money"></i></a>
                      <a class="btn btn-link text-success pagamento" *ngIf="o.status != 3" [routerLink]="['payment/'+ o.id]" tooltip="Pagar pedido"><i class="fa fa-dollar"></i></a>
                      <a class="btn btn-link pagamento" *ngIf="o.status != 3" [routerLink]="['printer/'+ o.id]+'/S'" tooltip="Imprimir pedido"><i class="fa fa-print"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav-->
            </div>
          </div>
        </div>
      </div>
 </div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Pesquisar</h6>
      </div>
      <div class="modal-body">
        <label for="inicio">De</label>
        <input type="date" id="inicio" class="form-control" name="inicio" [(ngModel)]="pesquisa.inicio" required>

        <label for="fim">Até</label>
        <input type="date" id="fim" class="form-control" name="fim" [(ngModel)]="pesquisa.fim" required>
        <label class="col-form-label" for="select">Status</label>
        <select name="status" class="form-control" id="select" [(ngModel)]="pesquisa.status" required>
          <option value="null">Selecione o status</option>
          <option value="0">Pendentes</option>
          <option value="1">Em preparo</option>
          <option value="2">Entrega</option>
          <option value="3">Fechado</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="pesquisar()"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<router-outlet></router-outlet>

