<div tabindex="-1" class="modal fade" id="payment" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: block; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header cadastro">
                <h3 class="text-center">Pedido: {{ order.id }} </h3>
                <h3 class="text-center"> {{ mesa }} </h3>
                <h3 class="text-center"> Pagamento</h3>
            </div>
            <div class="modal-body" style="height: 350px; overflow: auto">
                <div class="col-md-12 alert alert-primary">
                    <div class="row">
                        <h4 class="col-md-6 qtd">DATA PAGTO: {{ payment.data_pagamento }}</h4>
                        <h5 class="col-md-1"></h5>
                        <h4 class="col-md-5 qtd text-right">TOTAL PAGO: {{ payment.total_pago | currency:'BRL':true }} </h4>
                    </div>
                    <br>
                    <div class="row">
                        <h4 class="qtd col-md-4">TOTAL: {{ payment.total_original | currency:'BRL':true }} </h4>
                        <h4 class="qtd col-md-4 text-center">ACRESCIMOS: {{ payment.acrescimo | currency:'BRL':true }} </h4>
                        <h4 class="qtd col-md-4 text-right">DESCONTO: {{ payment.desconto | currency:'BRL':true }} </h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive" style="height: 170px; overflow: auto">
                        <table class="table scrollbox table-striped">
                            <thead>
                            <tr class="th-table title-table">
                                <th class="text-center">#</th>
                                <th>Produto</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Qtd.</th>
                                <th class="text-center">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="th-table" *ngFor="let p of products.data; let i = index">
                                <td class="text-center">{{ p.product.data.id }}</td>
                                <td>{{ p.product.data.name }}</td>
                                <td class="text-center">{{ p.price | currency:'BRL':true }}</td>
                                <td class="text-center">{{ p.qtd }}</td>
                                <td class="text-center">{{ p.subtotal | currency:'BRL':true }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-button">
                    <button class="btn btn-danger text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Fechar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
