<div tabindex="-1" class="modal fade" id="payment" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: block; overflow-y: auto;">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header novo">
                <h4 class="text-center">Pedido: {{ order.id }} </h4>
                <h4 class="text-center"> {{ mesa }} </h4>
                <h4 class="text-center"> Total: {{ order.total | currency:'BRL':true }}</h4>
            </div>
            <div class="modal-body" style="height: 500px; overflow: auto">
                <div class="col-md-12">
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <h5 class="text-capitalize">{{ client.name }}</h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-capitalize">{{ client.address }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="order.payment">
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-money"></i> Pagamentos
                            </div>
                            <div class="card-body">
                                <table class="table scrollbox table-striped">
                                    <thead>
                                    <tr class="th-table title-table">
                                        <th class="text-center">Vr.Pago</th>
                                        <th>Desconto</th>
                                        <th class="text-center">Acrescimo</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Tipo</th>
                                        <th class="text-center">Data</th>
                                    </tr>
                                    </thead>
                                    <tbody style="height: 250px; overflow: auto">
                                    <tr class="th-table" *ngFor="let p of order.payment.data; let i = index">
                                        <td class="text-center">{{ p.total_pago | currency:'BRL':true }}</td>
                                        <td>{{ p.desconto | currency:'BRL':true }}</td>
                                        <td class="text-center">{{ p.acrescimo | currency:'BRL':true }}</td>
                                        <td class="text-center">{{ order.total | currency:'BRL':true }}</td>
                                        <td class="text-center">{{ p.type.data.name }}</td>
                                        <td class="text-center">{{ p.created_at }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-shopping-bag"></i> Produtos
                        </div>
                        <div class="card-body" style="padding-bottom: 0px">
                            <div class="table-responsive">
                                <table class="table scrollbox table-striped">
                                    <thead>
                                    <tr class="th-table title-table">
                                        <th class="text-center">#</th>
                                        <th>Produto</th>
                                        <th class="text-center">Valor</th>
                                        <th class="text-center">Qtd.</th>
                                        <th class="text-center">Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody style="height: 170px; overflow: auto">
                                    <tr class="th-table" *ngFor="let p of products.data; let i = index">
                                        <td class="text-center">{{ p.product.data.id }}</td>
                                        <td>{{ p.product.data.name }}</td>
                                        <td class="text-center">{{ p.price | currency:'BRL':true }}</td>
                                        <td class="text-center">{{ p.qtd }}</td>
                                        <td class="text-center">{{ p.subtotal | currency:'BRL':true }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer novo">
                <div class="modal-button">
                    <button class="btn btn-danger text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Fechar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
