<header class="app-header navbar" *ngIf="user !== '' && user !== null" [ngClass]="{'fundo': !user || user == '' || user == null}">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand logo"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="../../assets/img/logo_eguis.png" class="img-avatar" alt="{{ user.email }}">
        <span class="d-md-down-none"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><i class="fa fa-user"></i> <strong>{{ user.name }}</strong></div>
        <a class="dropdown-item" [routerLink]="['/dashboard/password']"><i class="fa fa-bell-o"></i> Trocar senha</a>
        <a class="dropdown-item" [routerLink]="['/user/logout']"><i class="fa fa-power-off"></i> Sair</a>
      </div>
    </li>
  </ul>
</header>

<header class="app-header navbar" *ngIf="user == '' && user == null || !user" [ngClass]="{'fundo': !user || user == '' || user == null}">
</header>

<div class="app-body" [ngClass]="{'fundo': !user || user == '' || user == null}">
  <div class="sidebar" *ngIf="user !== '' && user !== null">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Gerencia
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-edit"></i> Gerenciar pedidos</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/orders']"><i class="fa fa-edit"></i> Pedidos</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/close']"><i class="fa fa-edit"></i> Pedidos fechados</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/orders/cancel']"><i class="fa fa-edit"></i> Pedidos Cancelados</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Financeiro
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-credit-card"></i> Caixa</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/financeiro/caixas']"><i class="fa fa-credit-card"></i> Caixas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/financeiro/movimento/caixas']"><i class="fa fa-exchange"></i>Movimentos Caixas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/financeiro/open/close/caixas']"><i class="icon-lock-open"></i>Abrir / Fechar Caixas</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Cadastros
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-product-hunt"></i> Produtos</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cadastro/produtos']"><i class="fa fa-plus"></i> Gerenciar Produtos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-check-square"></i> Clientes</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cadastro/clients']"><i class="fa fa-plus"></i> Gerenciar Clientes</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown *ngIf="user.role === 'admin' || user.role === 'gerente' || user.role === 'caixa'">
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-table"></i> Mesas</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cadastro/mesas']"><i class="fa fa-plus"></i> Cadastro de mesa</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-title" *ngIf="user.role === 'admin' || user.role === 'gerente' || user.role == 'superuser'">
          Controle de acessos
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown *ngIf="user.role === 'admin' || user.role === 'gerente' || user.role == 'superuser'">
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-user"></i> Usuários</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/cadastro/users']"><i class="fa fa-user-plus"></i> Gerenciar usuários</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid" style="padding: 15px">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer" *ngIf="user !== '' && user !== null">
  <span class="float-center">Versão: 1.02.28.18 | {{data}}</span>
  <span class="float-right">
    <a href="http://leiviton.com.br">Gerencia Pedidos</a> &copy; {{ ano }} | Powered by
    <a href="http://leiviton.com.br">Leiviton Software</a>
  </span>
</footer>