<div tabindex="-1" class="modal fade modal_novo" id="successModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header novo">
                <h4 class="text-center">Editar Pedido: {{ order.id }} </h4>
                <h4 class="text-center"> {{ mesa }} </h4>
                <h4 class="text-center">Total: {{ order.total  | currency:'BRL':true}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form #myForm="ngForm" class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="tipo" class="label col-md-2">Tipo: </label>
                            <select id="tipo" name="tipo" class="form-control col-md-2" [(ngModel)]="order.type" disabled>
                                <option value="0"> Delivery</option>
                                <option value="1"> Salão</option>
                                <option value="2"> Retirada</option>
                            </select>
                            <label for="mesa" class="label col-md-2" *ngIf="order.type == 1">Mesa: </label>
                            <select id="mesa" name="mesa_id" class="form-control col-md-2" [(ngModel)]="order.mesa.data.id" *ngIf="order.type == 1" disabled>
                                <option *ngFor="let g of mesas.data" value="{{ g.id }}"> {{ g.name }}</option>
                            </select>
                            <label for="status" class="label col-md-2">Status: </label>
                            <select id="status" name="staus" class="form-control col-md-2" [(ngModel)]="order.status" disabled>
                                <option value="5">Cancelada</option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="col-md-12" style="padding-bottom: 5px;">
                    <form #myForm="ngForm" class="form-inline">
                        <div class="form-group col-md-12">
                        </div>
                    </form>
                </div>
                <div class="row borderdiv" style="height: 370px; overflow: auto">
                    <div class="col-md-6 mb-4 padding" *ngIf="order.type != 1">
                        <!-- Nav tabs -->
                        <tabset>
                            <tab heading="Cliente">
                                <form name="form" class="form-inline">
                                    <input type="text" class="form-control col-md-12 name" name="name" [(ngModel)]="client.name" placeholder="Nome Cliente" disabled/>
                                    <br><br>
                                    <input ngxPhoneMask type="text" class="form-control col-md-12" name="phone" [(ngModel)]="client.phone" placeholder="Telefone" disabled />
                                    <br><br>
                                    <input type="text" class="form-control col-md-12" name="email" [(ngModel)]="client.email" placeholder="Email" disabled />
                                    <br><br>
                                    <input type="text" class="form-control col-md-12" name="address.address" [(ngModel)]="client.address.address" placeholder="Rua" [disabled]="editar"/>
                                    <br><br>
                                    <input type="text" class="form-control col-md-3" name="address.numero" [(ngModel)]="client.address.numero" placeholder="Numero" [disabled]="editar">
                                    <div class="separate1"></div>
                                    <input type="text" class="form-control col-md-8" name="address.bairro" [(ngModel)]="client.address.bairro" placeholder="Bairro" [disabled]="editar"/>
                                    <br><br>
                                    <select name="cidade" id="cidade" class="form-control col-md-12" [(ngModel)]="client.address.city_id" disabled>
                                        <option value="0">Selecione cidade</option>
                                        <option value="3128709">Guaxupé</option>
                                        <option value="3128303">Guaranésia</option>
                                        <option value="3136900">Juruaia</option>
                                        <option value="3144102">Muzambinho</option>
                                        <option value="3163904">São Pedro da União</option>
                                    </select>
                                    <br><br>
                                    <div class="padding" *ngIf="editar == false">
                                        <button type="button" class="btn btn-default btn-info" (click)="saveClient()">Atualizar endereço</button>
                                    </div>
                                </form>
                            </tab>
                        </tabset>
                    </div><!--/.col-->
                    <div class="col-lg-6 padding" [ngClass]="{'col-md-12 col-lg-12': order.type != 0 && order.type != 2, 'col-md-6 col-lg-6': order.type != 1}">
                        <div class="table-responsive" style="height: 160px; overflow: auto">
                            <table class="table scrollbox table-striped">
                                <thead>
                                <tr class="th-table title-table">
                                    <th>#</th>
                                    <th>Produto</th>
                                    <th>Valor</th>
                                    <th>Quantadade</th>
                                    <th>SubTotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of products.data">
                                    <td *ngIf="i.ativo == 'S'">{{ i.product.data.id }}</td>
                                    <td *ngIf="i.ativo == 'S'">{{ i.product.data.name }}
                                        <p *ngFor="let c of i.complement.data" style="font-size: 10px; margin-bottom: 0;"> {{ c.complement.data.name }}: {{ c.price | currency:'BRL':true }}</p>
                                        <p style="font-size: 10px; margin-bottom: 0;">{{ i.historico }}</p>
                                    </td>
                                    <td *ngIf="i.ativo == 'S'">{{ i.product.data.price | currency:'BRL':true}}</td>
                                    <td *ngIf="i.ativo == 'S'">{{ i.qtd }}</td>
                                    <td *ngIf="i.ativo == 'S'">
                                        {{ i.subtotal | currency:'BRL':true }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="col-md-12 text-center alert alert-success total-pagamento"><p class="qtd">TOTAL: {{ order.total | currency:'BRL':true }}</p></div>
                        <div class="col-md-12 text-center alert alert-danger"><p class="qtd">Motivo Cancelamento: {{ order.motivo_cancelamento }}</p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer cadastro">
                <div class="modal-button">
                    <button class="btn btn-primary" (click)="save()"><i class="fa fa-print"></i> Imprimir (F7)</button>
                    <button class="btn btn-danger text-left" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Sair (ESC)</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
