<div tabindex="-1" class="modal fade" id="infoModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog modal-sm modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header cadastro">
                <h6 class="modal-title">Novo Movimento Caixa</h6>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="close()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="tipo">Tipo:</label>
                            <div class="col-md-8">
                                <select name="tipo_movimento" class="form-control" id="tipo" [(ngModel)]="movimento.tipo_movimento" required>
                                    <option *ngFor="let g of tipos_mov" value="{{ g.value }}"> {{ g.label }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Caixa:</label>
                        <div class="col-md-8">
                            <select name="caixa" class="form-control" id="select" [(ngModel)]="movimento.caixa_id" required>
                                <option *ngFor="let g of caixas.data" value="{{ g.id }}"> {{ g.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="valor">Valor:</label>
                        <div class="col-md-8">
                            <input type="text" id="valor" name="valor" currencyMask [(ngModel)]="movimento.valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control" placeholder="Valor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="historico" class="col-md-4 col-form-label">Histórico:</label>
                        <div class="col-md-8">
                            <textarea id="historico" name="historico" rows="3" cols="9" [(ngModel)]="movimento.historico" class="form-control" placeholder="Historico"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer cadastro">
                <div class="modal-button">
                    <button class="btn btn-danger" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    <button class="btn btn-success" type="button" (click)="save()"><i class="fa fa-arrow-circle-right"></i> Salvar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>