<div tabindex="-1" class="modal fade" id="infoModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog modal-sm modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header cadastro text-center">
                <h6 class="modal-title">Mudar senha</h6>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="close()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm">
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="password">Nova senha: <span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <input type="password" id="password" name="password"
                                   [ngClass]="{'is-invalid': user.password_confirmation !== user.password, 'is-valid': user.password == user.password_confirmation}"
                                   [(ngModel)]="user.password" class="form-control" placeholder="Nova senha" required>
                            <div class="invalid-feedback text-validation" *ngIf="user.password !== user.password_confirmation">
                                <p>Campo repita senha diferente do campo nova senha.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="repeat_p">Repita a senha:</label>
                        <div class="col-md-7">
                            <input type="password" id="repeat_p" name="repeat_p"
                                   [ngClass]="{'is-invalid': user.password_confirmation !== user.password, 'is-valid': user.password == user.password_confirmation}"
                                   [(ngModel)]="user.password_confirmation" class="form-control" placeholder="Repita a senha" required>
                            <div class="invalid-feedback text-validation" *ngIf="user.password !== user.password_confirmation">
                                <p>Campo repita senha diferente do campo nova senha.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer cadastro">
                <div class="modal-button">
                    <button class="btn btn-danger" type="button" (click)="close()"><i class="fa fa-arrow-circle-left"></i> Cancelar</button>
                    <button class="btn btn-success" type="button" (click)="save(user)" [disabled]="user.password !== user.password_confirmation"><i class="fa fa-arrow-circle-right"></i> Salvar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>