<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Senha <small class="grey-text">troque sua senha</small></h4>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <form class="row" (submit)="save($event)">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" [(ngModel)]="user.password">
                    <label for="password">Senha</label>
                </div>

                <div class="input-field col s12">
                    <input id="password_confirmation" type="password" name="password_confirmation" [(ngModel)]="user.password_confirmation">
                    <label for="password_confirmation">Confirmação de senha</label>
                </div>

                <div class="input-field col s12">
                    <input type="submit" value="Salvar" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>