<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Meus dados <small class="grey-text">atualize suas informações</small></h4>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <form class="row" (submit)="save($event)">
                <div class="input-field col s12">
                    <input id="name" type="text" name="name" [(ngModel)]="user.name">
                    <label for="name">Nome</label>
                </div>
        
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" [(ngModel)]="user.email">
                    <label for="email">E-mail</label>
                </div>
        
                <div class="input-field col s12">
                    <input type="submit" value="Salvar" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>